*{
    margin:0;
    padding: 0;
}
section{
    line-height: 1.6em;
}
.right-part{
    font-size: 1em;
    color: orange; 
    float: right;
    padding: 2em;
 
}

.body{
    background-color: lightgrey;
    padding-top:2em;
    min-height: 100%;
    position:absolute;
}

header {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: orange;

}

footer{
text-align: center;
padding-top: 1.5em;
color: white;
background-color: grey;
position: fixed;
left: 0;
bottom: 0;
width: 100%;

}


.box-1{
    width:60%;
    margin: auto;
}
.box-2{
    width:60%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-color: orange;
    border-width: 1px;
    border-style: solid;
    position:relative; 
    overflow:auto; 

}

.box-3{
    width: 60%;
    float:right;
    padding-right: 2em;
}

img{
    height: 25em;
    margin-left:2em;
}

.left-part{

    background-color: orange;
    color:white;
    padding: 0.8em;
    float: left;
}

#about-me{
    color:orange;
    padding-top: 1em;
    padding-bottom:1.5em;
    border-bottom-color: lightgrey;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    margin-left:1.5em;
    margin-right:1.5em;
    margin-bottom: 1.5em;
}


a{
    text-decoration: none;
}
a:active{
    color: orange;
}
a:hover{
    color: silver;
}
a:visited{
    color: orange;
}
.clear{
    clear:both;
}